@model Shop.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_RightSectionLayout.cshtml";
}

<div>
    @using (@Html.BeginForm("Register", "Account"))
    {
        @Html.AntiForgeryToken()

        <table id="book-description" style="margin-right:300px">
            <caption>Registration</caption>
            <tr>
                <td>@Html.LabelFor(o => o.Email, "E-mail:")</td>
                <td>
                    @Html.TextBoxFor(o => o.Email) 
                </td>
                <td>
                    <div id="RED">
                        @Html.ValidationMessageFor(o => o.Email)
                   
                        @Html.ValidationMessage("Error", "")
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(o => o.Password, "Password:")</td>
                <td>
                    @Html.PasswordFor(o => o.Password)  
                </td>
                <td id="RED">
                        @Html.ValidationMessageFor(o => o.Password)
                </td>
            </tr>
            <tr>
                <td style="padding: 0px 20px 0px 0px; text-align: left;">
                    @Html.LabelFor(o => o.ConfirmPassword, "Confirm your password:")
                </td>
                <td style="padding: 0px; text-align: left;">
                    @Html.PasswordFor(o => o.ConfirmPassword)  
                </td>
                <td>
                    <div id="RED">
                        @Html.ValidationMessageFor(o => o.ConfirmPassword)
                    </div>
                </td>

            </tr>
            <tr>
                <td colspan="2" style="text-align: right; padding-right: 20px;">
                    <input type="submit" value="Register" class="submitLink" style="height: 40px; text-align: right; margin: 0px; padding: 10px;" />
                </td>
            </tr>
        </table>
    }
</div>
