<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet">
</head>

<body>
    <section id="main">
        <header>
            <section id="menu">
                <table style="width:100%;">
                    <tr id="cartAndButton">
                        <td id="menuLogIn">
                            Zalogowany jako Sample
                        </td>

                        <td>
                            <a href="@Url.Action("CartIndex", "Cart")" class="menu_button">Koszyk (<span id="cart-header-items-count">@Html.Action("GetQuantityOfCartItems", "Cart")</span>)</a>
                        </td>

                        <td id="cart">
                        </td>
                    </tr>
                </table>
            </section>
            <section id="banner">
                <a href="@Url.Content("~/")">
                    <h4 id="bannerText">Dariusz Gawęda - ReadIt.app</h4>
                </a>
            </section>
        </header>

        <div>
            @RenderBody()
        </div>

        <footer>
            <p id="footerText">Copyright © 2021 onwards by Dariusz Gawęda. All rights reserved.</p>
        </footer>
    </section>

    @RenderSection("Scripts", required: false)
</body>
</html>
